<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CAE Audit Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1 style="text-align:center; background-color:rgba(186, 189, 193, 0.94)"><b>CAE Audit Tool</b> </h1>
        <script src="" async defer></script>
    
        <form action="http://localhost:8080/uploader" method="POST" enctype = "multipart/form-data">
            <input type="file" name="file" />
            <input type="submit"/>
            <p>{{message}}</p>
            
        </form>
		<!--
        <td style=border:1px solid black; width="50%"; align="top">
        <details>
            <summary>PDF Viewer Example with iframe</summary>
            <iframe src="{{ url_for('static', filename=message) }}" width="80%" height="500px">
            </iframe>
        </details>
        </td>
		-->
		<h2>Assessment Weightage</h2>
        <table border="1" style="width: 100%;>
            <tr border:1px solid black; align="top">
            <td border:1px solid black; width="50%";>
        <div class=page>
            {% for table in tables %}
            <!-- <h2>{{titles[loop.index]}}</h2> -->
            {{ table|safe }}
            {% endfor %}
        </div>
		
		<h2>EKS and CLO verb distance based on Cognitive Domain</h2>
        <table border="1" style="width: 100%;>
            <tr border:1px solid black; align="top">
            <td border:1px solid black; width="50%";>
        <div class=page>
            {% for table in tables1 %}
            <!--<h2>abc</h2> -->
            {{ table|safe }}
            {% endfor %}
        </div>
		<h2>EKS and CLO verb distance based on Psychomotor Domain</h2>
        <table border="1" style="width: 100%;>
            <tr border:1px solid black; align="top">
            <td border:1px solid black; width="50%";>
        <div class=page>
            {% for table in tables2 %}
            <!-- <h2>{{titles[loop.index]}}</h2> -->
            {{ table|safe }}
            {% endfor %}
        </div>
		
		<h2>EKS and CLO verb distance based on Affective Domain</h2>
        <table border="1" style="width: 100%;>
            <tr border:1px solid black; align="top">
            <td border:1px solid black; width="50%";>
        <div class=page>
            {% for table in tables3 %}
            <!--<h2>abc</h2> -->
            {{ table|safe }}
            {% endfor %}
        </div>		
            </td>

        </tr>
        </table>
    </body>
</html>